/* geral */
* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    box-sizing: border-box ;
}

h1,h2,h3 {
    color: #333;
}

p {
    color: #3d3f3d;
}

/* navbar */
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}


nav {
    position: relative;    
}


.logo{
    width: 50px;
    margin-top: 15px;
}

.navbar-itens {
   position: absolute; 
   right: 0;
   height: 80px;
   line-height: 80px;
   margin: 0;
   display: inline-block;
}

.navbar-itens li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-itens a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-itens a:hover {
    color: grey;
}

.default-btn {
    padding: 15px 20px;
    background-color: rgb(62, 150, 62);
    border-radius: 5px;
}

.default-btn:hover {
    background-color: #22bb5f;
}

/* main-banner */

.main-banner {
    background-image: url(img/mainbanner.png);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.main-banner h1, .main-banner p {
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
   
}

.main-banner p{
    font-size: 32px;
}

.main-banner h1 {
    font-size: 52px;
}

/* services beneficios */

.service-container {
    padding: 5rem 0;
}

.service-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.service-container li {
    flex: 1 1 200px;
    text-align: center;
    list-style: none;
    padding: 20px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt {
    color: green;
}

.fa-rocket {
    color: red;
}

.fa-comments {
    color: blue;
}

.service-container h3 {
    margin-bottom: 25px;
}

.service-container p {
    line-height: 24px;
}

/* prices */

.pricing-container {
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2 {
    font-size: 36px;
}

.pricing-container p {
    font-size: 20px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50px;
    background-color: #2cc762;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202b34;
    padding: 50px 0;
}

.plan .plan-btn {
    background-color: #2cc762;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

.plan .price-recommended {
    background-color: #f45c57;
    width: 120px;
    height: 120px;
    border-radius: 50px;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-btn-recommended {
    background-color: #f45c57;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

/* search domain */

.searchdomain-container {
    background-color: #34454e;
    padding: 5rem 0 ;
    text-align: center;
}

.searchdomain-container h2 {
    color: white;
    font-size: 42px;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchdomain-container input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 20;
    margin-bottom: 25px;
}

.searchdomain-container input [type="submit"]{
    background-color: rgb(18, 195, 18);
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}


.searchdomain-container input [type="submit"]:hover{
    opacity: 1;
}

/* form de contato */

.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;

}

.contact-container h2 {
    font-size: 36px;
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input, 
.contact-container textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contact-container input[type="submit"]{
    display: block;
    margin: o auto;
    background-color: #2cc76a;
    color: #fff;
    cursor: pointer;
}

/* footer */

footer {
    text-align: center;
    font-weight: bold;
    margin-bottom: 150px;
    margin: 20px 0 100px;
}

/* responsividade */
/* small laptops */

@media (max-width: 1100px) {
    .plans-container{
        width: 95%;
    }
    .plan {
        margin: 0 5px;
    }   
}

/* tablets */
@media (max-width:900px){
    .main-banner p {
        padding: 0  6rem;
    }

    .searchdomain-container{
        padding: 2rem 4rem;
    }
}

/* celular */

@media (max-width:576px){
    html,body {
       overflow-x: hidden; 
    }

    .navbar-itens li { 
        font-size: 12px;
        margin-left: 10px;
    }
   
    
    
    .main-banner p{
        padding: 0 2rem;
    }

    .service-container ul {
        flex-direction: column;
    }


    .plans-container{
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }
    
    
    .plan {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px ;
    }

    .searchdomain-container h2 {
        font-size: 27px;
    }
    .searchdomain-container input {
        width: 100%;
    }

    .contact-container{
        padding: 3rem 2rem;
    }

    .contact-container input,
    .contact-container textarea{
        width: 100%;
        margin: 10px 0;
    }
}
